#container
{
	width:100%;
}

#header
{
	width:100%;
	height:150px;
	background-color:#2d2d2d;
}
.header_h1
{
	color:white;
}
#menu
{
	width:100%;
	height:50px;
}
#menu ul li
{
	list-style: none;	//remove point
	color:white;
	background-color:#2d2d2d;
	float:left;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
}
.menu_content
{
	text-decoration:none;
	color:white;
	display:block;
	width:80%;
	font-size:15px;
	font-weight:bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}
.menu_content:hover
{
	color:red;
	background-color:#4d4d4d;
}
#content
{
	width:80%;
	float:right;
	background-color:#4d4d4d;
}
.content_h1
{
	color:black;
}
#sidebar
{
	width:20%;
	float:left;
	background-color:red;
}
.sidebar_h1
{
	color:white;
}
#footer
{
	width:100%;
	height:50px;
	background-color:#2d2d2d;
	clear:both;
}

.footer_h1
{
	color:red;
}
