#top
{
	background-color: #2d2d2d;
	height = 400px;
	width = 100%;
}
#top h1
{
	color: white;
}

#menu
{
	height = 400px;
	width = 100%;
}

#menu ul li
{
	list-style: none;
	background-color: #2d2d2d;
	display:inline;
	color: white;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

#menu ul li a
{
	text-decoration: none;
	color: white;
	width: 200px;
	font-size: 30x;
	font-weight: bold;
	display: block;	//touch any part
	font-family: "Trebuchet MS", Dotum, Arial;
}

#menu ul li a:hover 
{
	color: red;
	background-color: #4d4d4d;
}
