div#top
{
	background-color: red;
	height = 200px;
	width = 200px;
}

div#menu
{
	background-color: #2d2d2d;
}

div#menu ul li
{
	list-style: none;
	display:inline;
	color: white;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

div#menu ul li a
{
	text-decoration: none;
	color: white;
	width: 200px;
	font-size: 30x;
	font-weight: bold;
	display: block;	//touch any part
	font-family: "Trebuchet MS", Dotum, Arial;
}

div#menu ul li a:hover 
{
	color: red;
	background-color: #4d4d4d;
}
